:root {
  --bd-bg-color: #eef3fa;
  --bg-color: #4d4c7d;
  --bg-color-2: #827397;
  --text-color: #fff;
  --buttons-color: #fff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;

  background: var(--bd-bg-color);
  /*   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(40,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2377aa77'/%3E%3Cstop offset='1' stop-color='%234fd'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1' gradientTransform='rotate(25,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2' gradientTransform='rotate(220,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.79'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; */
}

header {
  height: 3em;
  text-align: center;
  background: #363062;
  color: var(--text-color);
}

main {
  width: 40%;
  margin: 2em auto;
}

form,
#todoList li {
  background: var(--bg-color);
  background: linear-gradient(to right, var(--bg-color), var(--bg-color-2));
  border-radius: 2px;
}

/* form styling */
form {
  display: flex;
  padding: 0.3em;
  box-shadow: 0 10px 5px -10px rgba(115, 115, 115, 0.75);
  margin-bottom: 2em;
}

form input {
  flex: 1;
  padding: 1em;
  border: none;
  outline: none;
}

/* todo list styling */
ul {
  list-style: none;
}

ul li {
  margin-top: 0.5em;
}

ul li div {
  display: flex;
  padding: 0.5em 0 0.3em 0;
  box-shadow: 0 10px 5px -10px rgba(115, 115, 115, 0.75);
}

p {
  text-align: justify;
  padding: 0.3em 0.7em;
  color: var(--text-color);
}

ul div p {
  flex: 1;
  font-size: 0.7rem;
  font-style: italic;
}

/* Buttons */

form button {
  padding: 1em;
}

form button:hover {
  background: #363062;
  transition: 0.2s ease-in-out;
}

ul button {
  font-size: 1rem;
  padding: 0 0.3em;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  color: var(--buttons-color);
}

button:focus {
  outline: none;
}

.fa-plus {
  padding: 0.66em 1.75rem;
}

.fa-check {
  padding-left: 0.5em;
}
.fa-check:hover {
  color: rgb(48, 209, 88);
  transition: 0.2s ease-in-out;
}
.fa-edit:hover {
  color: rgb(10, 132, 255);
  transition: 0.2s ease-in-out;
}
.fa-trash:hover {
  color: rgb(255, 69, 58);
  transition: 0.2s ease-in-out;
}

/* JavaScript effects */

.fall-remove {
  transform: translateY(5em) rotateY(-50deg);
  transition: 0.4s ease-in-out;
  opacity: 0;
}

.check-task {
  transition: 0.3s ease-in-out;
  transform: translateX(0.5em);
  opacity: 0.5;
}

.check-hovered {
  color: rgb(48, 209, 88);
  transition: 0.2s ease-in-out;
}

/* edit task  */

#todoList .input-edit {
  display: flex;
  padding: 0.2em;
  margin-bottom: 0 !important;
}

.hide-element {
  visibility: hidden;
  height: 0;
}

@media only screen and (max-width: 768px) {
  main {
    width: 90%;
  }
}

@media only screen and (min-width: 2560px) {
  main {
    width: 25em;
  }
  body {
    font-size: 1.2em;
  }
  .fas {
    font-size: 0.4em;
  }
}
